.container0 {
  margin: 0 20;
  width: 970px;
}

.container h4 {
  padding-top: 20px;
  margin: 0 0;
}

.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0;
}

.container2 {
  overflow: auto;
  width: 970px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.bw {
    -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.bw:hover {
    -webkit-filter: grayscale(100%);


}

// carousel controls


.banner {
  color: white;
  text-align: center;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  // justify-content: center;
}

.carousel-inner > .item > img {
  width: 100vw !important;
}

.carousel-control .icon-prev:before {
    color: white !important;
}

.carousel-control .icon-next:before {
    color: white !important;
}


.carousel-control.left {
    background-image: none;
}


.carousel-control.right {
    background-image: none;
}
