// Specific CSS for your home-page
.wrapper-home {
  background-image: linear-gradient(180deg, rgba(0,0,0,0.80015756302521) 0%, rgba(0,0,0,0.4192051820728291) 38%, rgba(0,0,0,0.3603816526610645) 72%), url('eberhard-grossgasteiger-629643-unsplash.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  background-position: 250px 0px; //first column is left/right
}
