<h1>Our homes</h1>

<% @flats.each do |flat| %>
  <% flat.images.each do |image| %>
    <%= cl_image_tag image.url, height: 300, width: 400, crop: :fill %>
  <% end %>
    <h3> <%= link_to flat.name, flat_path(flat) %></h3>
  </div>
  <% end %>
