<div class="wrapper-home">
  <div class="container">
    <h1>Flat Find</h1>
  </div>

  <div class="container">
    <h3>Where do you want to go?</h3>
  </div>

  <%= link_to 'Index', flats_path %>
</div>
