<div class="date-form">
  <%= simple_form_for [@flat, @reservation] do |f| %>
    <%= f.input :dates, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.submit class: 'btn-primary-teal'%>
  <% end %>
</div>
