$teal: #128488;
$dark-gray: #484848;

.btn-primary-teal {
  background-color: $teal;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
}


.btn-primary-teal:hover {
  text-decoration: none !important;
  color: white;
}

.btn-secondary-teal {
  border: 1px solid $dark-gray;
  color: $dark-gray;
  padding: 10px 15px;
  border-radius: 6px;
}

