.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  width: 300px;
  height: 270px;
  flex-grow: 1;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  color: black;
  opacity: 0.7;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  overflow: hidden;
}


.card-trip .card-trip-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-room-type {
  text-transform: uppercase;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

  .cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}


.cards-index-meta-container {
  display: flex;
}

.card-trip-map > img {
  height: 120px;
  width: 100%;
  object-fit: cover;

}

.card-room-type {
  text-transform: capitalize;
}


.card-trip-map {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: -10px;
  margin-bottom: -15px;
  width: 200px;
  height: 180px;
}

.card-trip-map h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-trip-map p {
  font-size: 10px;
  opacity: .7;
  margin: 0;
}

.card-trip-map .card-trip-infos-map {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos-map .card-trip-user-map {
  position: absolute;
  right: 8px;
  top: -25px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid white;
}

.card-trip-infos-map .card-trip-user-map .card-trip-pricing-map {
  top: 50px;
}


.price-popup-card {
  padding: 4px;
  background: white;
  color: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20%;
  font-weight: bold;
}
