$teal: #128488;

.edit-message-container {
  padding: 16px 40px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  background: $teal;
  color: white;
  font-weight: lighter;
  font-size: 16px;
  a {
    color: white !important;
    font-weight: bolder;
    border: 3px white solid;
  }
}
