.log-in-form {
  margin-bottom: 10px;
  label {
    font-weight: normal;
    font-size: 15px;
    // margin-left: 10px;
  }
}

.log-in-form-remember-me-btn {
  margin-left: 10px;
}


.form-control {
  color: #CCCCCC !important;
  font-weight: normal !important;
  font-size: 14px !important;
}

.form-control:focus {
  color: black !important;
}

.form-control::-webkit-input-placeholder {
  color: #CCCCCC !important;
  font-size: 14px !important;
  font-weight: normal !important;
}

.form-check-input {

}

.form-check label {
  margin-left: 10px;
}

.photo-container {
  display: flex;
  justify-content: center;
}

.photo-headline {
  text-align: center;
}
.photo-form {
  margin: auto;
  justify-content: center;
  max-width: 500px;
  padding: 80px 20px;
  border: solid 1px;
  border-color: rgba(220,220,220, 0.9);
  text-align: center;
  margin-bottom: 10px;
  label {
    font-weight: normal;
    font-size: 15px;
  }
}
.photo-back-button {
  text-align: center;
}
.photo-form .btn-primary-teal {
  width: 100px;
  border: 1px;

  margin-top: 15px;
}
