<div class="photo-container">
  <div class="photo-form">
    <%= simple_form_for [@flat, @image] do |f| %>
      <%= f.file_field :url, class: 'btn-primary-teal-large' %>
      <%= f.input :url_cache, as: :hidden %>
      <%= f.submit 'Upload a photo', class: 'btn btn-primary-teal' %>
    <% end %>
  </div>
</div>
