<div class="show-image">
  <div class="container">
    <% @images.each do |image| %>
    <%= cl_image_tag image.url, height: 300, width: 400, crop: :fill %>
    <%= link_to 'Delete', image_path(image), class: "btn btn-primary-teal delete-photo",
    method: :delete,
    data: { confirm: "Are you sure?" } %>
    <br>
    <% end %>
  </div>
</div>
<hr>
<div class="container">
  <div class="photo-headline">
    <div class="photo-form">
      <p>Upload a photo</p>
      <%= render 'form' %>
    </div>
  </div>
</div>
<hr>


  <%= link_to 'Back to flat', flat_path(@flat), class: 'btn btn-primary-teal btn-back' %>
